body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 40px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.section {
    margin-bottom: 50px;
}

.lesson-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.lesson-card {
    width: 220px;
    height: 120px;

    background-color: white;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    transition: 0.2s;
}

.lesson-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.start-button {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 18px;
    background: #2d7ef7;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.start-button:hover {
    transform: translateY(-2px);
    background: #1f66d6;
}
